<%- include('header') -%>
<%- include('navbar') -%>
<div class="container">
    <div class="row">
        <div class="col px-lg-6">
            <h2>Edit Driver</h2>
        </div>
    </div>
    <div class="col py-3 px-lg-5 border bg-light">
        <h3>Driver</h3>
        <form method="post">
                <div class="form-group mb-2">
                    <label for="name2" class="sr-only">Name</label>
                    <input type="text" readonly class="form-control-plaintext" id="name2" name = "name2" value="Name:">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" class="form-control" id="dname" name="dname" value="<%= (typeof driver === 'undefined') ? '' : driver.name %>">
                </div>
                <div class="form-group mb-2">
                    <label for="license2" class="sr-only">License</label>
                    <input type="text" readonly class="form-control-plaintext" id="license2" name="license2" value="License:">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="dlicense" class="sr-only">License</label>
                    <input type="text" class="form-control" id="dlicense" name = "dlicense" value="<%= (typeof driver === 'undefined') ? '' : driver.license %>">
                </div>
                  <button type="submit" class="btn btn-success">Save</button>
    </form>


</div>

<%- include('footer') -%>

